{% extends 'base.html.twig' %}
{% block body %}
<div class="alert alert-danger" role="alert">
 
    <div class="timeline-panel">
    <div class="d-flex align-items-center">
        <i class="ti-lock display-6 m-r-15 text-success"></i>
        <div>
            <div class="timeline-heading">
                <h4 class="timeline-title text-success">Page verrouiller</h4>
            </div>
            <div class="timeline-body">
                <h4>vous n'avez pas l'autorisation d'accéder à cet emplacement !!</h4>
            </div>
        </div>
    </div>
    <div class="text-right m-t-15">
        
    </div>
    </div>
 </div>
{% endblock %}